<html>
<head>
  <title>Logbot</title>
  <link rel="stylesheet" href="/stylesheets/foundation.min.css">
  <link rel="stylesheet" href="/stylesheets/logbot.css">
</head>
<table class="messages">
  <tbody>
  <% messages.each do |message| %>
    <tr class="message">
      <td class="message-nick">
        <%= message.nick %>
      </td>
      <td class="message-body">
        <%= message.body %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
</html>