<html>
<head>
  <title>Logbot</title>
  <link rel="stylesheet" href="/stylesheets/foundation.min.css">
  <link rel="stylesheet" href="/stylesheets/logbot.css">
</head>
<div>
  <% messages.each do |message| %>
    <div class="row message">
      <div class="columns small-3 large-3 message-nick">
        <%= message.nick %>
      </div>
      <div class="columns small-9 large-9 message-body">
        <%= message.body %>
      </div>
    </div>
  <% end %>
</div>
</html>