.messages {
  border-collapse: collapse;
  font-family: proxima-nova;
}

.message {
}

.message:nth-child(odd) {
  background-color: #F8F8F8;
}

.message:nth-child(even) {
  background-color: #F6F6F6;
}

.message-nick {
  text-align: right;
  border: 1px solid #ddd;
  font-weight: 700;
}

.message-body {
  font-weight: 400;
  padding: 10px;
  line-height: 1.5em;
  border: 1px solid #ddd;
  background-color: white;
}